<section id="about">
  <h1>About Rari</h1>
  <h2>A Ruby on Rails App by Jeremy Bassi</h2>

  <p>Rari is all about living the life that you dream of, whether that means lane
  swerving in your 'rari even if it cost you about 230 bills, or picking up your 
  kids from soccer practice in a disgusting minivan.</p>

  <footer><strong>"Keep it Trill"</strong> - Jeremy</footer>

  <aside>Thingee Corporation</aside>
</section>
