body
{
  width: 100%;
  height: 100%;
  font-family: "Helvetica", "Arial";
  background: url("bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Top Yellow Rari Bar */
header#top 
{
  position: relative;
  left: 5%;
  background-image: url("stripes.jpg");
  margin: 10px auto 10px; width: 75%; height: 8em;
}

/* Container for all content of app */
section#content
{
  position: relative;
  left: 5%;
  width: 75%;
  margin: 0 auto 0;
  background-color: white;
}

nav#side
{
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 15%;
  background-color: red;
}

section#user_info
{
  position: fixed;
  top: 5%;
  left: 2%;
  background-color: yellow;
  height: 29%;
  width: 11%;
  overflow: auto;
}

a#user
{
  position: fixed;
  left: 2%;
  top: 5%;
  text-decoration: none;
}

h1#user_name
{
  position: fixed;
  overflow: hidden;
  left: 3%;
  font-size: 1.3vw; 
  max-width: 9%;
  max-height: 5%;
  color: white;
  background-color: black;
  padding: 4px;
}

p#user_cars
{
  position: fixed;
  left: 3%;
  top: 12%;
  font-size: 1vw;
  max-width: 9%;
  color: white;
  background-color: black;
  padding: 4px;
}

p#user_birthday
{
  position: fixed;
  left: 3%;
  top: 22%;
  font-size: 1vw;
  max-width: 9%;
  color: white;
  background-color: black;
  padding: 4px;
}

p#user_birthday_label
{
  position: fixed;
  left: 3%;
  top: 17%;
  font-size: 1vw;
  max-width: 9%;
  color: white;
  background-color: black;
  padding: 4px;
}

a.nav_link
{
  position: fixed;
  left: 2%;
  background-color: #aa0000;
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 2vw;
  max-width: 12%;
  overflow: hidden;
}

a.nav_link:hover
{
  padding: 8px;
}

img#logo_img
{
  position: fixed;
  left: 3%;
  top: 2%;
}

a#home_link { top: 41%; }
a#about_link { top: 49%; }
a#cars_link { top: 57%; }
a#new_car_link { top: 65%; }
a#users_link { top: 73%; }
a#edit_user_link { top: 81%; }

a#log
{
  position: fixed;
  top: 29%;
  left: 2%;
  font-size: 2vw;
  text-decoration: none;
  background-color: #0ba0ff;
  color: white;
  padding: 2px 6px 2px 6px;
}

section#user_info > a#log
{
  left: 3%; 
}

a#signup
{
  position: fixed;
  top: 35%;
  left: 2%;
  font-size: 2vw;
  text-decoration: none;
  background-color: #8030ff;
  color: white;
  padding: 2px 6px 2px 6px;
}

h1#logo
{
  margin: 0;
  position: absolute;
  font-size: 4em;
  left: 5%;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

footer#author
{
  position: absolute;
  font-size: 1.2em;
  left: 10px;
  bottom: 0;
  color: black;
  margin: 0px;
}

p#motto
{
  position: absolute;
  font-size: 1.5em;
  left: 10px;
  bottom: 1.2em;
  color: black;
  margin: 0px;
}

a#log:hover
{
  background-color: #0000ff;
}

a#signup:hover
{
  background-color: #0000ff;
}

p#notice 
{
  color: green;
  font-size: 1.5em;
}

div#notice_area
{
  position: relative;
  margin: 10px auto 10px;
  text-align: center;
  width: 50%;
  left: 5%;
  background-color: white;
  padding: 2px;
  border: 10px solid green;
}

.field_with_errors 
{
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation 
{
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation > h2 
{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation > ul li 
{
  font-size: 12px;
  list-style: square;
}
