// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section#car_show
{
  position: absolute;
  height: 40vh;
  width: 75vw;
  background-color: white;
  border: 10px solid red;

  h1, h2, h3, p, a
  {
    margin: 0px;
    padding: 4px;
    background-color: red;
    color: white;
    text-decoration: none;
  }

  img#car_image
  {
    width: 33%;
    height: 100%;
  }

  h1
  {
    position: absolute;
    left: 35%;
    top: 2vh;
    font-size: 3vw;
  }

  h2
  {
    position: absolute;
    font-size: 2.5vw;
    left: 35%;
    top: 10vh;
  }

  h3
  {
    position: absolute; 
    left: 35%;
    top: 17vh;
    font-size: 3vw;
    background-color: green;
    color: white;
  }

  p
  {
    position: absolute;    
    left: 35%;
    top: 30vh;
    font-size: 1vw;
    max-width: 60%;
  }

  footer
  {
    position: absolute; 
    left: 35%;
    top: 25vh;
    font-size: 1.5vw;
    background-color: black;
    color: red;
    padding: 2px;
  }

  a:hover
  {
    color: yellow;
  }

  a#edit_link
  {
    position: absolute;
    left: 85%;
    top: 10vh;
    font-size: 2.5vw;
  }

  a#back_link
  {
    position: absolute;
    left: 70%;
    top: 10vh;
    font-size: 2.5vw;
  }
}

section#list
{
  header
  {
    width: 100%;
    height: 5vh;
    background-color: black;
    text-align: center;
    line-height: 5vh;

    h1
    {
      font-size: 2vw;
      color: white;
    }
  }

  section.car:hover { background-color: yellow; }

  section.car
  {
    position: relative;
    padding: 6px;
    background-color: red;
    height: 15vh;

    img.car_image
    {
      float: left;
      width: 20vh;
      height: 15vh;
    }

    p
    {
      position: absolute;
      display: inline-block;
      color: white;
      background-color: #aa0000;
      padding: 4px;
    }

    a
    {
      position: absolute;
      display: inline-block;
      background-color: #0000ff;
      color: white;
      padding: 8px;
      text-decoration: none;
      top: 5vh;
      font-size: 5vh;
    }

    p.car_model
    {
      left: 27vh;
      font-size: 3.5vh;
    }

    p.car_year
    {
      left: 27vh;
      top: 9vh;
      font-size: 2.5vh;
    }

    p.car_price
    {
      left: 35vh;
      top: 9vh; 
      font-size: 2.5vh;
    }

    a.car_view
    {
      left: 70vh;
    }

    a.car_view:hover
    {
      color: yellow;
    }

    a.car_edit
    {
      left: 55vh;
    }

    a.car_edit:hover
    {
      color: yellow;
    }
  }

  footer
  {
    background-color: black;
    height: 5vh;
    line-height: 5vh;
    text-align: center;

    .pagination 
    {
      font-size: 2vw;

      a
      {
        background:red;
        color: white;
      }

      .previous_page 
      { 
        background:#ff0000;
        color:white;
      }
      .previous_page.disabled
      { 
        background: black;
        color: #777;
      }
      .current 
      {
        background: yellow;
      }
      .next_page
      { 
        background: #ff0000;
        color: white;
      }
      .next_page.disabled
      {
        background: black;
        color: #777;
      }
    }
  }
}
