<section id='users_list'>
  <header>
    <h1>Rari Users</h1>
  </header>

  <% @users.each do |user| %>
    <%= link_to user_path(user) do %>
      <section class='user'>
        <p id='user_name'><%= user.name %></p>
        <p id='user_email'><%= user.email %></p>
        <p id='user_number'>Listings: <%= user.cars ? user.cars.count : 0 %></p>
      </section>
    <% end %>
  <% end %>
</section>
